.sideTree {
  width: 260px;
  background-color: #1f1d1d;
  padding-top: 15px;
  height: 100%;
  position: fixed;
  @media only screen and (max-width: 660px) {
    width: 190px;
  }
  @media only screen and (max-width: 480px) {
    width: 160px;
  }

  :global(.ant-tree-title) {
    flex: auto;
    display: block;

    span {
      flex: auto;
      display: block;
    }
  }
}
