.sideTree {
  width: 260px;
  background-color: #1f1d1d;
  padding-top: 15px;
  height: 100%;
  position: fixed;
  @media only screen and (max-width: 660px) {
    width: 190px;
  }
  @media only screen and (max-width: 480px) {
    width: 160px;
  }
}

.popOver {
  padding: 0px 10px;
  margin: 0px;
  list-style-type: none;
  a {
    margin-bottom: 8px;
    cursor: pointer;
    display: block;
    color: white;
  }
}
