.listTitle {
  margin: 0 !important;
}

.extraFields {
  display: flex;
  flex-direction: column;
  width: 100%;

  :global(.ant-form-item) {
    margin: 0;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
