.Manufacturer {
  :global(.ant-card) {
    margin-top: 10px;
  }
  .fileButton {
    margin-top: 20px;
  }
  .FlexDiv {
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }

  .Field {
    background: #141414;
    border: 1px solid #434343;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}
