.backButton {
  margin: 15px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 575px) {
    flex-direction: column;
  }
  :global(.ant-breadcrumb) {
    font-size: 18px;
  }
}
