.row {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 10px;
  div {
    flex: 1;
    margin-right: 5px;
    &:nth-of-type(even) {
      text-align: left;
      margin: 0;
    }
  }
}
