.Card {
  flex: 1;
  margin: 20px;

  :global(.highcharts-background) {
    fill: none;
  }
}

@media screen and (max-width: 1440px) {
  .Card {
    .row {
      div {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Card {
    margin-bottom: 20px;
    margin-right: 0;
    .row {
      div {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Card {
    .row {
      flex-direction: column;
      div {
        text-align: left;
        &:nth-of-type(even) {
          margin-bottom: 13px;
        }
      }
    }
  }
}
