.Buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.InfoButton {
  background-color: transparent;
  border: none;
}

.Buttons > * {
  margin-left: 10px;
}

.LoadMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Row {
  cursor: pointer;
}
