$container-max-width: 1200px;

.InfoButton {
  background-color: transparent;
  border: none;
}

.dark {
  color: white;
}

.light {
  color: black;
}

.LoadMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Container {
  max-width: $container-max-width;
  margin: auto;

  @media screen and (max-width: $container-max-width) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
