.InlineBlockDiv {
  display: inline-block;
  vertical-align: middle;
}

.WifiIcon {
  background-color: transparent;
  color: #35a649;
  border: none;
  font-size: 40px;
  vertical-align: middle;
  margin-right: 20px;
}

.backButton {
  border: none;
  margin-top: 5px;
}
