.Content {
  :global(.ant-card) {
    margin-top: 10px;
    border-radius: 5px;
  }
}

.InfoButton {
  background-color: transparent;
  border: none;
}

.dark {
  color: white;
}

.light {
  color: black;
}

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  & > div {
    margin-left: auto;
  }

  & > h1 {
    margin: 0;
  }
}

.Toggle {
  margin-left: 20px;
}
