.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.Card {
  top: 25px;
  max-width: 770px;
  width: 100%;
  max-height: 344px;
  height: 100%;
}

.Field {
  background: #141414;
  border: 1px solid #434343;
  border-radius: 5px;
  margin-left: 60px;
}

.Email {
  text-align: left;
  margin-left: 60px;
  float: left;
}

.Save {
  margin-top: 30px;
}

h1 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 30px;
}
