.Modal {
  position: relative;
  margin-top: 5%;
  text-align: center;
  justify-content: space-between;
}

.Buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Button {
  max-width: 139px;
  width: 100%;
  margin: 20px;
}
