.mainInfoWrap {
  padding: 60px;

  .rightInfoWrap {
    flex: 1;
    margin: 0 auto;
  }
  .infoWrapper {
    display: flex;
    justify-content: space-between;
  }
}

.pieChartWrap {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .infoWrapper {
    flex-direction: column;
  }
}
