.mainInfoWrap {
  display: flex;
  justify-content: flex-start;
  padding: 60px;
  .rightInfoWrap {
    width: 65%;
  }
  .infoWrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}

@media screen and (max-width: 1024px) {
  .infoWrapper {
    flex-direction: column;
  }
}
