.clientDevices {
  height: 100%;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .mainContent {
    width: calc(100% - 240px);
    margin-left: auto;
    padding: 0 20px;

    @media only screen and (max-width: 660px) {
      width: calc(100% - 210px);
    }

    @media only screen and (max-width: 480px) {
      width: calc(100% - 175px);
    }

    table {
      thead {
        th {
          padding: 16px;
          background-color: #1f1d1d;
        }
      }
    }
  }
}
