.clientDevices {
  height: 100%;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media only screen and (max-width: 480px) {
    padding: 20px 10px 20px 0;
  }
  .navBtnWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #141414 0% 0% no-repeat padding-box;
    border-radius: 25px;
    margin-right: 15px;
    @media only screen and (max-width: 575px) {
      flex-wrap: wrap;
      background-color: transparent;
    }
  }
  .navBtn {
    @media only screen and (max-width: 575px) {
      width: 100%;
    }
    a {
      padding: 8px 25px;
      border-radius: 50px;
      color: #fff;
      display: inline-block;
      border-radius: 25px;
      font: Bold 14px/16px Roboto;
      @media only screen and (max-width: 660px) {
        padding: 8px 16px;
      }
      &::selection {
        background-color: transparent;
        color: unset;
      }
    }
    .activeBtn {
      background: #35a649 0% 0% no-repeat padding-box;
    }
  }
  .BlockedListButton {
    margin-left: auto;
    margin-right: 20px;
  }
}
.reloadIcon {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  span {
    border: 1px solid #403d3d;
    padding: 6px;
    border-radius: 3px;
    background-color: rgb(20, 20, 20);
  }
}
.mainWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  .mainContent {
    width: calc(100% - 240px);
    margin-left: auto;
    padding: 0 20px;
    @media only screen and (max-width: 660px) {
      width: calc(100% - 210px);
    }
    @media only screen and (max-width: 480px) {
      width: calc(100% - 175px);
    }
    table {
      thead {
        th {
          padding: 16px;
          background-color: #1f1d1d;
        }
      }
    }
  }
}
