.customTooltip {
  background-color: lightgrey;
  border: 1px solid blue;
  color: black;
  padding: 16px;

  .label {
    margin:  0px;
    font-style: italic;
  }

  .point {
    margin:  0px;
  }
}
