.Field {
  background: #141414;
  border: 1px solid #434343;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.Field:last-child {
  background: #141414;
  border: 1px solid #434343;
  border-radius: 5px;
  margin-bottom: 5px;
}

:global(.ant-checkbox) {
  margin-left: 10px;
}

:global(.ant-radio) {
  margin-left: 10px;
}

:global(.ant-collapse) {
  margin-top: 10px;
  background: #141414;
}

.InlineDiv {
  display: flex;
  justify-content: space-around;
}

.NotApplicable {
  margin-left: 10px;
  font-style: italic;
}

.Image {
  border: dashed;
  width: 100%;
  border: 2px dashed #aaaaa9;
  padding: 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 5px;
}

code {
  background-color: #35a649;
  color: black;
}
