.Field {
  background: #141414;
  border: 1px solid #434343;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.Field:last-child {
  background: #141414;
  border: 1px solid #434343;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

:global(.ant-checkbox) {
  margin-left: 10px;
}

:global(.ant-radio) {
  margin-left: 10px;
}

.InlineDiv {
  display: flex;
  justify-content: space-around;
}

.NotApplicable {
  margin-left: 10px;
  font-style: italic;
}
