.ProfilePage {
  :global(.ant-form-item) {
    flex: 1;
  }
  :global(.ant-checkbox) {
    margin-left: 10px;
  }

  :global(.ant-radio) {
    margin-left: 10px;
  }

  :global(.ant-table) {
    margin-bottom: 10px;
  }

  :global(.ant-collapse) {
    margin-top: 10px;
  }
  :global(.ant-list) {
    padding: 20px;
  }

  code {
    background-color: #35a649;
    color: black;
  }

  :global(.ant-upload.ant-upload-select-picture-card) {
    width: 100%;
  }

  :global(div.ant-collapse-header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  :global(.ant-collapse .ant-collapse-item .ant-collapse-header::before),
  :global(.ant-collapse .ant-collapse-item .ant-collapse-header::after) {
    content: none;
  }

  :global(div.ant-collapse-header div button) {
    margin-bottom: 0px;
  }

  :global(.ant-select-multiple > .ant-select-selector) {
    height: 100%;
    align-content: flex-start;
    overflow: auto;
  }

  label {
    white-space: normal;
  }

  p {
    font-weight: bold;
    font-size: 16px;
  }
}

.Disclaimer {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-style: italic;
}

.infoCard {
  margin-right: 10px;
}

.FlexDiv {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 0;
    margin-right: 40px;
  }
  & > :last-child {
    margin-right: 0;
  }
}

.InlineDiv {
  display: flex;
  justify-content: space-around;

  & > * {
    margin: 0;
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
  }
  & > :last-child {
    margin-right: 0;
  }
}

.InlineCenterDiv {
  display: flex;
  justify-content: center;
}

.InlineCenterDiv > * {
  margin: -15px 10px 20px 0;
}

.InlineEndDiv {
  display: flex;
  justify-content: flex-end;
}

.List {
  margin-left: 22%;
  max-width: 50%;
  word-wrap: break-word;
  &:global(.ant-list) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.InfoButton {
  background-color: transparent;
  border: none;
}

.DeleteButton {
  margin: 20px 10px 0 0;
}

.ToolTip {
  margin: 10px 20px 0 5px;
}

.BonjourServices {
  margin-bottom: 10px;
}

.spanStyle {
  flex: 1;
  margin-left: 10px;
}

.MultipleSelection {
  height: 120px;
}

.RadiusDelete {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.Image {
  max-height: 100%;
  max-width: 100%;
}

.Row {
  &:hover {
    cursor: pointer;
  }
}
