.container {
  background: #141414;
  width: 400px;
  height: 250px;
  @media screen and (max-width: 1500px) {
    align-items: center;
    width: calc(100% - 50px);
    height: 250px;
  }
  span {
    font-size: 18px;
    color: white;
  }
}
