@import 'styles/variables';

.MainLayout {
  height: 100vh;
  margin-left: $sidebar-width;
  overflow: auto;
  @media only screen and (max-width: 480px) {
    height: auto;
  }
  &.collapsed {
    margin-left: $sidebar-collapsed-width;
  }
  &.mobile {
    margin-left: 0;
  }
}

.Content {
  margin-top: $header-height;
}

.Footer {
  text-align: center;
}
